<div class="container">
  <div class="row">
    <div class="search-container">
      <input type="text" placeholder="Search..." (input)="onSearch($event)" />
      <button type="button">
        <span class="material-icons">search</span>
      </button>
    </div>
  </div>
  <div class="row text-center">
  <div class="col-6 col-sm-3 mb-2">
    <button class="topbtns w-100">Print Stock </button>
  </div>
  <div class="col-6 col-sm-3 mb-2">
    <button class="topbtns w-100" (click)="tovCombos()">Combos</button>
  </div>
  <div class="col-6 col-sm-3 mb-2">
    <button class="topbtns w-100" (click)="tovMenuItems()">Menu Items</button>
  </div>
  <div class="col-6 col-sm-3 mb-2">
    <button class="topbtns w-100" (click)="tovitems()">Items</button>
  </div>
</div>

  <br />
  <div class="row">
    <div class="table-container">
      <div class="row">
        <h1 style="color: aliceblue">Items</h1>
      </div>
      <table>
        <thead>
          <tr>
            <th>Item Code</th>
            <th>Item Name</th>
            <th>Physical</th>
            <th>Purchases</th>
            <th>Total</th>
            <th>Sales</th>
            <th>Closing</th>
            <th>Actual</th>
            <th>Variance</th>
            <th></th>
            <!--column for actions-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredItems; let i = index">
            <td>{{ item.code }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.physical }}</td>
            <td>{{ item.purchase }}</td>
            <td>{{ item.total }}</td>
            <td>{{ item.sale }}</td>
            <td>{{ item.closing }}</td>
            <td>{{ item.actual }}</td>
            <td>{{ item.variance }}</td>
            <td>
              <!-- Buttons for edit and delete actions -->
              <button
                class="tablebtns"
                style="width: 80%"
                (click)="manageItem(item)"
              >
                Manage
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="table-container">
      <div class="row">
        <h1 style="color: aliceblue">Combos</h1>
      </div>
      <table>
        <thead>
          <tr>
            <th>Comb ID</th>
            <th>Name</th>
            <th>Sales</th>

            <th></th>
            <!--column for actions-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let combo of filteredCombos; let i = index">
            <td>{{ combo.id }}</td>
            <td>{{ combo.name }}</td>
            <td>{{ getTotalUnitsSold(combo) }}</td>
            <td>
              <!-- Buttons for edit and delete actions -->
              <button
                class="tablebtns"
                style="width: 80%"
                (click)="manageCombo(combo)"
              >
                Manage
              </button>
            </td>
          </tr>
          <tr *ngFor="let mi of filteredMenuItems; let i = index">
            <td>{{ mi.id }}</td>
            <td>{{ mi.name }}</td>
            <td>{{ mi.unitsSold }}</td>

            <td>
              <!-- Buttons for edit and delete actions -->
              <button
                class="tablebtns"
                style="width: 80%"
                (click)="manageMenuItem(mi)"
              >
                Manage
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
